footer {
  background-color: #f4f5f8;
  padding-bottom: 2rem;

  .top {
    border-bottom: 1px solid rgb(214, 214, 214);
    .container {
      display: flex;
      justify-content: space-between;
      align-content: center;
      padding: 1rem 0;
      h5 {
        font-size: 0.95rem;
        color: #333;
        font-weight: 300;
      }

      .social-media {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        li {
          list-style: none;
          a {
            margin-right: 45px;
            color: gray;
            font-size: 1.1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-in;
            &:hover {
              background-color: $primary-color;
            }
          }
        }
      }
    }
  }

  .bottom {
    padding-top: 1rem;
    .container {
      display: flex;

      .left-col {
        flex: 35%;
        object {
          width: 20%;
          margin-bottom: 1rem;
        }

        .wrapper {
          display: flex;

          .footer-widget {
            ul {
              list-style: none;
              margin-right: 3.5rem;
              li {
                margin-bottom: 0.35rem;
                a {
                  color: #333;
                  text-decoration: none;
                  font-size: 0.85rem;

                  &:hover {
                    color: $primary-color;
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }
      }
      .right-col {
        flex: 60%;
        .logos {
          margin-bottom: 1rem;
          img,
          object {
            margin-right: 1.3rem;
          }

          .intuit,
          .mint {
            width: 65px;
          }

          .turbo,
          .quickbooks,
          .credit {
            width: 85px;
          }
        }
        p {
          margin-bottom: 1rem;
          font-size: 0.95rem;

          a {
            margin-left: 0.2rem;
            &:hover {
              color: rgb(86, 86, 184);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  footer {
    .top {
      .container {
        flex-direction: column;
        .social-media {
          margin-top: 1rem;
        }
      }
    }
    .bottom {
      .container {
        flex-direction: column;

        .left-col {
          margin: 1.5rem 0;
        }
      }
    }
  }
}
