$primary-color: #1b8381;
$light-primary-color: #dffdf5;
$dark-primary-color: #2b9b97;
$darker-primary-color: #125957;

$secondary-color: #342b50;
$primary-background-color: #eefffd;
$light-color: #fdfcff;
$text-color: #333;

$navbar-scrolling-height: 60px;

@import './styles/home/general';
@import './styles/home/header';
@import './styles/home/showcase';
@import './styles/home/features';
@import './styles/home/review';
@import './styles/home/bottomcta';
@import './styles/home/footer';
@import './styles/tracker/tracker';
@import './styles/tracker/trackerForm';
